.main {
  background-color: #f5f5f5;
}


.card {
    border-radius: 0.55rem;
}

p {
    color: #011627;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #011627;
    font-family: 'Roboto', sans-serif;
}

.home-arrow {
    font-size: 30pt;
}

.social-logo {
    font-size: 50pt;
}


#brand{
    text-decoration: none;
    border-bottom-style: solid;
    border-color: #f5f5f5;
    border-width: 2pt;
}

#avatar {
    border-radius: 0.55rem;
    object-fit: cover;
    width: 220px;
    height: 300px;
    overflow: hidden;

}

#jumbo-rounded {
    border-radius: 0 0 0.55rem 0.55rem;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 767.5px) {
    .jumbo {
        width: 65%;
    }
}


@media only screen and (max-width: 767.5px) {
    .jumbo {
        width: 100%;
    }

    #jumbo-text {
        font-size: 34pt;
    }
}

.project-img {
  display: block;
  max-width:1200px;
  max-height:2800px;
  width: auto;
  height: auto;
}


.carousel-control-next,
.carousel-control-prev, .carousel-indicators  {
    filter: invert(100%);
}