body {
  background-color: #f5f5f5;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.home-arrow {
    font-size: 30pt;
}

.social-logo {
    font-size: 50pt;
}

#job {
    position:relative;
    left:-70px;
    bottom: 14px;
 }

#brand{
    text-decoration: none;
    border-bottom-style: solid;
    border-color: black;
    border-width: 2pt;
}

#avatar {
    border-radius: 100%;
    object-fit: cover;
    height: 150pt;
    width: 150pt;
    overflow: hidden;

}

@media only screen and (min-width: 767.5px) {
    .jumbo {
        width: 65%;
    }
}


@media only screen and (max-width: 767.5px) {
    .jumbo {
        width: 100%;
    }
    #jumbo-text{
        font-size: 34pt;
    }
    #job{
        font-size: 10pt;
        left: -60px;
        bottom: 10px;
    }
}

.project-img {
  display: block;
  max-width:1200px;
  max-height:2800px;
  width: auto;
  height: auto;
}


.carousel-control-next,
.carousel-control-prev, .carousel-indicators  {
    filter: invert(100%);
}