{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="jumbotron mt-4 p-2 text-center mx-auto" style="width: 50%">
          <img src="{% static 'image/avatar.png' %}" id="avatar" class="mt-4 mb-2" alt="Oleh Onysko">
          <h1 class="display-4 mb-0 pb-0">Oleh O<u id="brand">nysk</u>o</h1>
          <p id="job" class="mt-0 pt-0">BackEnd Developer</p>
      </div>
  <div class="text-center mt-4 mb-4" id="contacts">
    <a class="text-reset text-decoration-none" href="#contacts">
      <h5 class="mb-0">Contacts</h5>
      <span class="home-arrow"><i class="fas fa-angle-down"></i></span>
    </a>
  </div>

  <div class="row mt-2 pb-4">
    <div class="col-sm-4">
      <div class="text-center">
        <div class="text-center">
          <h5>
            {#            <img src="{% static 'image/facebook.png' %}">#}
            <i class="fab fa-facebook-square social-logo mb-2 text-dark"></i>
          </h5>
          <p>My personal profile<br>on FaceBook</p>
          <a href="https://www.facebook.com/onysko3/" target="_blank" class="btn btn-light">Find Me</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <div class="text-center">
          <h5>
            {#            <img src="{% static 'image/linkedin.png' %}">#}
            <i class="fab fa-linkedin social-logo mb-2 text-dark"></i>
          </h5>
          <p>Learn more about me<br>on LinkedIn</p>
          <a href="https://www.linkedin.com/in/onysko3/" target="_blank" class="btn btn-primary">Find Me</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center border-none">
        <div class="text-center">
          <h5 class="">
            {#            <img src="{% static 'image/github.png' %}">#}
            <i class="fab fa-github-square social-logo mb-2 text-dark"></i>
          </h5>
          <p class="">Look at my projects <br>on GitHub</p>
          <a href="https://github.com/onysko3" target="_blank" class="btn btn-light">Find Me</a>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center mt-4 mb-2" id="projects">
    <a class="text-reset text-decoration-none" href="#projects">
      <h5 class="mb-0">My Projects</h5>
      <span class="home-arrow"><i class="fas fa-angle-down"></i></span>
    </a>
  </div>


  {% for project in project_list %}
    <div class="card mb-4" id="projects{{ forloop.counter0 }}">


      <div id="carouselExampleIndicators{{ forloop.counter0 }}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for photo in project.photos.all %}
            <li data-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}"
                {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <div class="carousel-inner">
          {% for photo in project.photos.all %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
              <img class="card-img-top d-block w-100" src="{{ photo.photo.url }}" alt="{{ photo.title }}"
                   style="width: 700pt; height: 300pt;">
              <div class="carousel-caption d-none d-md-block">
                {% if photo.title %}
                  <h5>{{ photo.title }}</h5>
                {% endif %}
                {% if photo.description %}
                  <p>{{ photo.description }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators{{ forloop.counter0 }}" role="button"
           data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators{{ forloop.counter0 }}" role="button"
           data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <div class="card-body">
        <h3 class="card-title">{{ project.title }}</h3>
        <div class="row">
          <div class="col-md-10">
            {% if project.description %}
              {% autoescape off %}
                <p class="card-text mb-0">{{ project.description }}</p>
              {% endautoescape %}
            {% endif %}
            {% if project.description %}
              <p class="card-text mb-0"><strong>Used Technologies: </strong>{{ project.keywords }}</p>
            {% endif %}
          </div>

          <div class="col-md-2 text-left ml-0 border-left">
            {% if project.link_demo %}
              <p class="mb-0">
                <a class="text-decoration-none btn btn-link" target="_blank"
                   href="{{ project.link_demo }}"><i class="fas fa-link mr-2"></i><strong>Heroku</strong></a></p>
            {% endif %}

            {% if project.link_live %}
              <p class="mb-0">
                <a class="text-decoration-none btn btn-link" target="_blank" href="{{ project.link_live }}"><i
                    class="fas fa-link mr-2"></i> <strong>Live
                </strong></a></p>
            {% endif %}

            {% if project.github %}
              <p class="mb-0">
                <a class="text-decoration-none btn btn-link" target="_blank"
                   href="{{ project.github }}"><i class="fab fa-github mr-2"></i><strong>GitHub</strong></a></p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}